.cart-container{
    background-color: #F8F0E8;
    padding: 20px;
    margin: 0px 400px;
    border-radius: 10px;
  }

  .cart-container h3{
    margin: 50px 0px 50px;
    font-size: 17px;
  }
  
  .cart-items{
    display: flex;
    flex-wrap: wrap;
  }
  
  .checkout-btn{
    padding: 10px 30px;
    border-radius: 25px;
    border-color: #C15F08;
    border-width: 2px;
    font-size: 18px;
  }
  
  .checkout-btn:hover{
    background-color: #fbe2cd;
    transition: 0.5s;
  }
  
  .in-cart-card{
    height: 300px;
    background-color: #ffffff;
    width: 550px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
  }
  
  .card-details{
    display: flex;
  }
  
  .card-details img{
    max-width: 250px;
    max-height: 250px;
  }
  
  .card-description{
    text-align: left;
    margin-left: 20px;
    width: 300px;
  }

  .card-description h4{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .card-description strong{
    font-weight: 500;
  }
  
  .item-quantity-cart{
    display: flex;
    height: 25px;
    align-items: center;
    margin: 30px 0px 10px;
  }
  
  .item-quantity-cart p{
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .item-quantity-cart input{
    width: 40px;
    text-align: right;
    margin: 0px 5px;
  }

  .item-quantity-cart button{
    border-width: 1px;
  }
  
  .remove-from-cart-btn{
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 20px;
    border-width: 1px;
  }
  
  .remove-from-cart-btn:hover{
    background-color: rgb(218, 237, 254);
    transition: 0.5s;
  }

  .cart-list-footer{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 300px;
  }

  .cart-list-footer h3{
    margin-right: 400px;
  }

  .cart-content{
    display: block;
    margin-top: 20px;
  }

  .cart-quantity{
    font-size: 18px;
  }