/* Styles for the main container */
.WhatsNew-section {
  padding: 20px;
  background-color: #F8F0E8; /* Background color for the section */
}

.WhatsNew-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  color: #333;
}

/* Grid layout for new product items */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Styling for individual product cards */
.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

/* Image styling */
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Product details */
.product-card h3 {
  font-size: 18px;
  color: #333;
  margin: 15px 0 10px;
  text-align: center;
}

.product-card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
  text-align: center;
}

.product-card p:last-of-type {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.whats-new{
  margin: 30px 375px 30px;
  background-color: #F8F0E8;
  padding: 30px;
  border-radius: 10px;
}