.App {
  text-align: center;
}



.App-header button{
  margin-left: 100px;
  text-decoration: underline;
  border: none;
  background-color: #282c34;
  color: white;
  font-size: 17px;
}

.App-header button:hover{
  font-size: 19px;
  transition: 0.8s;
}