.App {
  text-align: center;
}

/* Main Container for All Items */
.containers {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 30px auto; 
  border-radius: 20px;
  width: 90%;
  max-width: 1200px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

/* Individual Book and Artwork Containers */
.book-container, 
.artwork-container {
  width: 100%; 
  background-color: #f8f0e8;
  padding: 20px; 
  border-radius: 10px;
  margin: 1px 25px; 
  text-align: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Items Grid Layout */
.items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
 }

/* Card Styles */
.item-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect for Item Cards */
.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Image Styles */
.item-card img {
  height: 140px;
  width: 180px;
  border-radius: 8px; /* Rounded corners for images */
}

/* Button Styles */
.item-card button {
  color: #c15f08;
  text-decoration: underline;
  border: none;
  background-color: #ffffff;
  margin-bottom: 5px;
  text-align: left;  
  display: block;   
  width: fit-content; 
  margin-left: 0;  
  transition: color 0.3s ease;
  
}

/* Button Hover Effect */
.item-card button:hover {
  color: #fff; /* Change text color on hover */
  background-color: #c15f08; /* Change background color on hover */
}

/* Text Styles */
.item-card p {
  margin-right: 10px;
  margin-top: 0px;
  text-align: left;
}

.item-card h4 {
  margin-bottom: 0px;
  font-size: 15px;
  text-align: left; 
}

/* Subhead Styles */
.subhead {
  margin-bottom: 0px;
  font-size: 15px;
}
